@import './style.css';

.billboard i {
   margin-right: 15px;
}


.billboard {
   top: 0;
   position: relative;
   overflow: hidden;
   margin: 0;
   margin-bottom: 40px;
   background-color: var(--color-dark-grey);
}
/* Ombre sur le coté gauche */
.billboard::before{
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0%;
   background: linear-gradient(90deg,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0) 75%);
   z-index: 5;
}

.billboard-shadow-bottom{
   position: absolute;
   width: 100%;
   height: 75px;
   bottom: 0;
   background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,.55) 50%, rgba(20,20,20,0) 100%);
}

.billboard img {
   height: 100vh;
   object-fit: cover;
}

.billboard-informations {
   width: 40%;
   max-width: 500px;
   position: absolute;
   top: 30%;
   margin-left: var(--padding-left);
   text-overflow: ellipsis;
   display: flex;
   flex-direction: column;
   gap: 15px;
   z-index: 10;
}

.billboard-movie-rank {
   display: flex;
}
.billboard-movie-rank > * {
   font-size: 1.1rem;
   font-weight: 600;
   color: var(--color-white);
}

.billboard-movie-synopsis p {
   display: -webkit-box;
   -webkit-line-clamp: 6;
   -webkit-box-orient: vertical;
   text-align: left;
   text-overflow: ellipsis;
   overflow: hidden;
}

.billboard-movie-buttons-container {
   display: flex;
   gap: 10px;
}

.billboard-movie-button {
   display: flex;
   align-items: center;
   padding: 8px 15px;
   border-radius: 4px;
   border: 2px solid transparent;
   overflow: hidden;
   cursor: pointer;
}
.billboard-movie-button:active{
   border: 2px solid white;
}
#billboard-movie-button-liste{
   background-color: var(--color-white);
}
#billboard-movie-button-liste:hover{
   background-color: rgba(255,255,255,0.75);
}
#billboard-movie-button-information {
   background-color: rgba(109,109,110,0.7);
}
#billboard-movie-button-information:hover {
   background-color: rgba(109,109,110,0.4);
}
.billboard-movie-button p {
   font-weight: 600;
}
#billboard-movie-button-liste > * {
   color: black;
}
#billboard-movie-button-information > * {
   color: var(--color-white);
}


@media (max-width: 640px) {
   i {
      margin-right: 0px;
   }
   #billboard-informations {
      min-width: 100%;
   }
   .billboard-movie-title h1 {
      text-align: center;
   }
   .billboard-movie-rank,
   .billboard-movie-synopsis,
   .billboard-movie-button p {
      display: none;
   }
}