@import './style.css';

.header {
   width: 100%;
   height: 68px;
   position: fixed;
   top: 0;
   padding: 0px var(--padding-left);
   display: flex;
   align-items: center;
   gap: 18px;
   z-index: 15;
   background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));;
   transition: background-color 400ms ease-in-out;
}
.header-black {
   background-color: rgb(20, 20, 20);
}

#Logo {
   max-height: 25px;
   margin-right: 25px;
}

.header-button{
   font-family: 'Poppins', sans-serif;
   font-size: 1rem;
   color: var(--color-light-grey);
   font-weight: 500;
   text-decoration: none;
   transition: color 400ms ease-in-out;
}
.header-button:hover {
   color: var(--color-dark-grey);
}
.header-button-active {
   color: white !important;
   font-weight: 800;
   cursor: default;
}

.header-search-container {
   background-color: brown;
   padding: 5px 10px;
   width: 200px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 10px;
}

.header-search-container-button i {
   color: var(--color-white);
   margin: 0px 0px;
   cursor: pointer;
}

.header-search-container-input {
   background-color: aqua;
   width: 100%;
   transition: width 400ms ease-in-out;
}

.header-search-container-button:hover > .header-search-container{
   
   visibility: visible;
}
