* > * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -moz-user-select: none; /* Firefox */
   -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
   -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
   user-select: none; /* Propriété standard */
}

:root{
   --color-background-gray: #141414;
   --color-white: #fdfdfd;
   --color-light-grey: #e5e5e5;
   --color-dark-grey: #b3b3b3;

   

   --height-carousel-movies: 150px;

   --padding-left: 40px;
}

body{
   background-color: var(--color-background-gray);
}

h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   color: var(--color-white);
   text-align: left;
}

h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.3rem;
   color: var(--color-white);
   margin-bottom: 10px;
}

h3 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.2rem;
   color: var(--color-light-grey);
   font-weight: 600;
   margin-bottom: 10px;
}

p {
   font-family: 'Poppins', sans-serif;
   font-size: 1.1rem;
   color: var(--color-white);
   text-align: justify;
}

a {
   font-family: 'Poppins', sans-serif;
   font-size: 0.9rem;
   color: var(--color-white);
   font-weight: 500;
   text-decoration: none;
}

i {
   font-size: 22px;
}


/* On peut ausi utiliser visibilty :hidden pour la modal qui s'ouvre */

